.App {
    text-align: center;
    display: inline-flex;
    flex-direction: column;
    margin: 20px auto;
    width: 50%;
}

.Wrap {
    width: 140px;
    margin: 20px auto;
}

.Inactive {
    width: 20px;
    height: 20px;
    background: cadetblue;
    float: left;
    border: 1px solid white;
}
.Active {
    width: 20px;
    height: 20px;
    float: left;
    border: 1px solid white;
    background: white;
}
.Inactive i{
    visibility: hidden;
}
.Active i{
    visibility: visible;
}
.ResetButton {
    padding: 15px;
    background: cadetblue;
    border: none;
    width: 60px;
    margin: 10px auto;
}

.Tries {
    font-size: 16px;
    color: cadetblue;
    font-weight: bold;
}

